body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* Below this line is the CSS code that I wrote */

* {
	font-family: 'Archivo', sans-serif;
}

/* Using flexbox to position our information and adding a background image. */
body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('./img/palm-tree.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

input {
	font-size: small;
	transition: width 0.4s ease-in-out;
}

input:focus {
	width: 75%;
}

input:focus,
textarea:focus,
select.focus {
	outline: none;
}

.login-box {
	width: 15rem;
	padding: 2rem 5rem;
	text-align: center;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-header {
	margin: 0 0 2rem 0;
}

.input-field {
	border: none;
	border-bottom: 1px solid black;
	width: 65%;
	margin: 0 0.5rem;
	padding: 0.25rem;
}

.login-item {
	margin: 1rem 0;
}

.error {
	color: red;
}

/* For submit-type buttons on a page. */
.submit-button {
	border: none;
	font-size: medium;
	background-color: white;
	padding: 0.5rem;
	margin: 0.25rem 0;
}

.submit-button:hover {
	color: grey;
	cursor: pointer;
	transition: 0.5s;
}

/* For the new user register button link. */
.button-link {
	border: 0;
	padding: 0.5rem;
	color: grey;
	background-color: transparent;
}

.button-link:hover {
	color: black;
	cursor: pointer;
	text-decoration: underline;
	transition: 0.2s;
}

/* For the input fields. */

.input-info {
	border: 1px solid grey;
	border-radius: 3px;
	width: 85%;
	padding: 0.5rem;
}

/* For the register page. */

.register-box {
	width: 15rem;
	padding: 2rem 5rem;
	text-align: center;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-field {
	border: none;
	border-bottom: 1px solid black;
	width: 65%;
	margin: 1rem 0;
	padding: 0.25rem;
}

.register-field:focus {
	width: 100%;
}

/*
  For the dashboard where contacts will be displayed. 
  We don't really need to create a new div container but update the information shown in the card at a time.
*/

.dashboard-box {
	padding: 2rem 0 0 0;
	text-align: center;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-contact {
	display: flex;
	width: 50rem;
	padding: 4rem;
	text-align: center;
	background-color: rgba(255, 255, 255, 1);
}

.contact-list {
	flex: 1;
	/* border: 1px solid black; */
	padding: 1rem;
	margin: 1rem;
	text-align: left;
}

.contact-info {
	flex: 2;
	/* border: 1px solid black; */
	padding: 1rem;
	margin: 1rem;
	text-align: left;
}

/* For search bar in dashboard. */
.search-bar {
	border: none;
	border-bottom: 1px solid black;
	width: 75%;
	margin: 1rem 0.5rem 0 0.5rem;
	padding: 0.25rem;
}

.addContact {
	text-align: left;
	border: none;
	font-size: medium;
	background-color: transparent;
	padding: 0.5rem;
	margin: 0.25rem 0;
}

.addContact:hover {
	color: grey;
	transition: 0.3s;
	cursor: pointer;
}

.addcontact-box {
	width: 15rem;
	padding: 2rem 5rem;
	text-align: center;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addcontact-item {
	margin: 1rem 0;
}
.contact-list-box {
	display: flex;
}
.contact-list {
	flex-direction: column;
}

.contact {
	border: none;
	font-size: medium;
}

.contact:hover {
	cursor: pointer;
	color: grey;
	transition: 0.3s;
}

.contact-card-button {
	border: none;
	background-color: transparent;
	font-size: medium;
	padding: 0.5rem;
}

.contact-card-button:hover {
	cursor: pointer;
	color: grey;
	transition: 0.3s;
}
