
* {
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: linear-gradient(to right, #D6F1C4, #D6F1C8, #E95D2A, #F5E258);
}

.page-header {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to right, #D6F1C4, #D6F1C8, #E95D2A, #F5E258);
}

.login-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(to right,#D6F1C4, #D6F1C8, #E95D2A,#F5E258);  
}


.access-body {
    display: flex;
    margin: 1rem;
    justify-content: center;
  }

  #title{
    font-weight: bold;
  }